@import "compass/reset";
@import "compass/css3";

$paper-white: rgb(255, 252, 247);
$global-background: rgb(242, 239, 232);
$global-blue: rgb(129, 169, 202);
$line-color: rgb(244, 240, 235);

@mixin size($width, $height) {
  width: $width;
  height: $height;
}


body {
  font-size: 62.5%;
  background: $global-background;
}

a, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.circled {
  border-radius: 50%;
  overflow: hidden;
}
.squared {
  border-radius: 0;
  overflow: hidden;
}
.fixed {
  position: fixed;
}

.white-paper {
  background: $paper-white;
  border-radius: 0;
//  border: 2px $line-color solid;
}

.top-bar {
  width: 100%;
  height: 60px;
  display: inline-block;

  .header-icon {
    display: inline-block;
    @include size(36px,36px);
    font-size: 18px;
    margin: auto;
    i {
      position: relative;
      top: 10px;
      left: 10px;
    }
  }

  .new-twit-shortcut {
    @include size(65px, 100%);
    border-right: 2px $line-color solid;
    display: inline-block;
    float: left;

    .new-twit {
      color: white;
      background: $global-blue;
    }
  }
  .operation-shortcuts {
    display: inline-block;
    height: 100%;
    .header-icon {
      border: 2px $line-color solid;
    }
  }
  .logo {
    color: $global-blue;
    font-size: 36px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    line-height: 60px;
  }

  .search-and-user-info {
    float: right;
    .search-bar {
      display: inline;
      .search-input {
        width: 175px;
        padding: 0px 18px;
        border: 1px $line-color solid;
        border-radius: 18px;
        line-height: 30px;
      }
    }
    .user-info {
      display: inline-block;
      @include size(36px,36px);
    }
  }
}

.left {
  position: absolute;
  top: 62px;
  left: 0;
  bottom: 0;
  width: 23%;
  min-width: 300px;
  background: $global-blue;
}

.right {
  position: absolute;
  top: 62px;
  right: 0;
  bottom: 0;
  width: 23%;
  min-width: 300px;
  background: $paper-white;
}

.main {
  width: 50%;
  margin: 10px;
  height: auto;
  bottom: 0;
  background: $paper-white;
  margin-left: auto;
  margin-right: auto;
}