/* line 5, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/style.scss */
body {
  font-size: 62.5%;
  background: #f2efe8;
}

/* line 20, ../sass/style.scss */
a, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* line 26, ../sass/style.scss */
.circled {
  border-radius: 50%;
  overflow: hidden;
}

/* line 30, ../sass/style.scss */
.squared {
  border-radius: 0;
  overflow: hidden;
}

/* line 34, ../sass/style.scss */
.fixed {
  position: fixed;
}

/* line 38, ../sass/style.scss */
.white-paper {
  background: #fffcf7;
  border-radius: 0;
}

/* line 44, ../sass/style.scss */
.top-bar {
  width: 100%;
  height: 60px;
  display: inline-block;
}
/* line 49, ../sass/style.scss */
.top-bar .header-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 18px;
  margin: auto;
}
/* line 54, ../sass/style.scss */
.top-bar .header-icon i {
  position: relative;
  top: 10px;
  left: 10px;
}
/* line 61, ../sass/style.scss */
.top-bar .new-twit-shortcut {
  width: 65px;
  height: 100%;
  border-right: 2px #f4f0eb solid;
  display: inline-block;
  float: left;
}
/* line 67, ../sass/style.scss */
.top-bar .new-twit-shortcut .new-twit {
  color: white;
  background: #81a9ca;
}
/* line 72, ../sass/style.scss */
.top-bar .operation-shortcuts {
  display: inline-block;
  height: 100%;
}
/* line 75, ../sass/style.scss */
.top-bar .operation-shortcuts .header-icon {
  border: 2px #f4f0eb solid;
}
/* line 79, ../sass/style.scss */
.top-bar .logo {
  color: #81a9ca;
  font-size: 36px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  line-height: 60px;
}
/* line 89, ../sass/style.scss */
.top-bar .search-and-user-info {
  float: right;
}
/* line 91, ../sass/style.scss */
.top-bar .search-and-user-info .search-bar {
  display: inline;
}
/* line 93, ../sass/style.scss */
.top-bar .search-and-user-info .search-bar .search-input {
  width: 175px;
  padding: 0px 18px;
  border: 1px #f4f0eb solid;
  border-radius: 18px;
  line-height: 30px;
}
/* line 101, ../sass/style.scss */
.top-bar .search-and-user-info .user-info {
  display: inline-block;
  width: 36px;
  height: 36px;
}

/* line 108, ../sass/style.scss */
.left {
  position: absolute;
  top: 62px;
  left: 0;
  bottom: 0;
  width: 23%;
  min-width: 300px;
  background: #81a9ca;
}

/* line 118, ../sass/style.scss */
.right {
  position: absolute;
  top: 62px;
  right: 0;
  bottom: 0;
  width: 23%;
  min-width: 300px;
  background: #fffcf7;
}

/* line 128, ../sass/style.scss */
.main {
  width: 50%;
  margin: 10px;
  height: auto;
  bottom: 0;
  background: #fffcf7;
  margin-left: auto;
  margin-right: auto;
}
